<p>Departamento</p>
<select class="options" aria-label="Default select example">
            <!-- <option value="">Beni</option>
            <option value="">Cochabamba</option>
            <option value="">Chuquisica</option> -->
            <option value="">La Paz</option>
            <!-- <option value="">Oruro</option>
            <option value="">Pando</option>
            <option value="">Potosi</option>
            <option value="">Santa Cruz</option>
            <option value="">Tarija</option> -->
        </select>
<div class="sucuralesSection">
    <div class="getSucursal">
        <h1>Lista de sucursales</h1>
        <app-reusable-table [datos]="infoSub" [columnas]="columnsSucursal" colorLetra="black" [nombreBotones]="sucursalButtons" (parentMethod)="functionChooseObj($event)">
        </app-reusable-table>
    </div>
</div>

<div>
    <button class="btn" (click)="modalService.abrir('modalRegSuc-01');">Agregar Sucursal</button>
</div>

<jw-modal id="modalRegSuc-01" altura="100" ancho="50">
    <div class="modal-header">
        <h4 class="modal-title">Registrar Sucursal</h4>
    </div>
    <div class="modal-body">


        <p>Nombre</p>
        <input type="text" id="nomSucursal" placeholder="Ingrese el nombre de la sucursal">

        <p>Direccion</p>
        <input type="text" id="dirSucursal" placeholder="Ingrese la direccion de la sucursal">

        <p>Tipo</p>
        <div>
            <label> <input id="sucursal" type="radio" value="sucursal" name="gender" (change)="changeGender($event)" checked/> Sucursal </label>
            <label> <input id="fabrica" type="radio" value="fabrica" name="gender" (change)="changeGender($event)" disabled="true"/> Fabrica </label>
        </div>

        <p>Ubicacion</p>
        <!-- <input type="text" id="Ubicacion" placeholder="Ingrese la Ubicacion"> -->

        <agm-map>
            <agm-marker *ngFor="let sub of infoSub" [latitude]="sub.Localizacion.latitude" [longitude]="sub.Localizacion.longitude" [agmFitBounds]="true">
                <agm-info-window>

                </agm-info-window>

            </agm-marker>
        </agm-map>



        <p>Telefono</p>
        <input type="text" id="telfSuc" placeholder="Ingrese el numero de telefono">

        <p>Departamento</p>
        <select class="options" aria-label="Default select example">
            <!-- <option value="">Beni</option>
            <option value="">Cochabamba</option>
            <option value="">Chuquisica</option> -->
            <option value="">La Paz</option>
            <!-- <option value="">Oruro</option>
            <option value="">Pando</option>
            <option value="">Potosi</option>
            <option value="">Santa Cruz</option>
            <option value="">Tarija</option> -->
        </select>

    </div>
    <div class="modal-footer">

        <div class="botones">
            <button class="btn" (click)="modalService.cerrar('modalRegSuc-01');sendSucursales();">Registrar</button>
        </div>
        <div class="botones">
            <button class="btnCerrar" (click)="modalService.cerrar('modalRegSuc-01');">Cancelar</button>
        </div>
    </div>

</jw-modal>
<jw-modal id="modalSuc-02" altura="100" ancho="50">
    <div class="modal-header">
        <h4 class="modal-title">Actualizar Sucursal</h4>
    </div>
    <div class="modal-body">


        <p>Nombre</p>
        <input type="text" id="nomSucursalU" [(ngModel)]="this.selectedObject.Nombre" enabled>

        <p>Direccion</p>
        <input type="text" id="dirSucursalU" [(ngModel)]="this.selectedObject.Direccion" enabled>

        <p>Tipo</p>
        <div>
            <label> <input id="sucursal" type="radio" value="sucursal" name="gender" (change)="changeGender($event)" checked/> Sucursal </label>
            <label> <input id="fabrica" type="radio" value="fabrica" name="gender" (change)="changeGender($event)" disabled="true"/> Fabrica </label>
        </div>

        <p>Ubicacion</p>
        <!-- <input type="text" id="Ubicacion" placeholder="Ingrese la Ubicacion"> -->

        <agm-map>
            <agm-marker *ngFor="let sub of infoSub" [latitude]="sub.Localizacion.latitude" [longitude]="sub.Localizacion.longitude" [agmFitBounds]="true">
                <agm-info-window>

                </agm-info-window>

            </agm-marker>
        </agm-map>



        <p>Telefono</p>
        <input type="text" id="telfSucU" [(ngModel)]="this.selectedObject.Telefono" enabled>

        <p>Departamento</p>
        <select class="options" aria-label="Default select example">
            <!-- <option value="">Beni</option>
            <option value="">Cochabamba</option>
            <option value="">Chuquisica</option> -->
            <option value="">La Paz</option>
            <!-- <option value="">Oruro</option>
            <option value="">Pando</option>
            <option value="">Potosi</option>
            <option value="">Santa Cruz</option>
            <option value="">Tarija</option> -->
        </select>

    </div>
    <div class="modal-footer">

        <div class="botones">
            <button class="btn" (click)="modalService.cerrar('modalSuc-02');sendSucursalesUpdate();">Actualizar</button>
        </div>
        <div class="botones">
            <button class="btnCerrar" (click)="modalService.cerrar('modalSuc-02');">Cancelar</button>
        </div>
    </div>

</jw-modal>
<jw-modal id="modalSuc-03" altura="30" ancho="20">
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Empleado</h4>
    </div>
    <div class="modal-body">
        <p>Esta seguro que quiere eliminar la sucursal?</p>

    </div>
    <div class="modal-footer">

        <div class="botones">
            <button class="btn" (click)="modalService.cerrar('modalSuc-03');eliminarSucursal();">Confirmar</button>
        </div>
        <div class="botones">
            <button class="btnCerrar" (click)="modalService.cerrar('modalSuc-03');">Cancelar</button>
        </div>
    </div>

</jw-modal>