.text {
    text-transform: capitalize;
    color: #969226;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    width: 200px;
    height: 50px;
    padding: 10px 30px;
    text-transform: capitalize;
    color: #fff;
    background: #969226;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}

.btn2 {
    width: 200px;
    height: 50px;
    padding: 10px 30px;
    text-transform: capitalize;
    color: #fff;
    background: #cf2f2f;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}