<h3>Inventario aqui</h3>
<hr />
<p>Fecha de hoy</p>
<p>{{fecha}}</p>

<div>
    <h3>Tabla de refrescos</h3>
    <button style="margin: 50px; padding: 10px" type="button" class="btn" (click)="openPopup()">Comprar producto
    </button>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Comprar Producto</h4>
                </div>
                <div class="modal-body">
                    <p>Producto Seleccionado</p>
                    <input type="text" placeholder="Ingrese Cantidad">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" (click)="closePopup()">
                    Ok
                </button>
                    <button type="button" class="btn2" (click)="closePopup()">
                    Cancelar
                </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <hr />
    <h3>Tabla Salsas</h3>
    <button style="margin: 50px; padding: 10px" type="button" class="btn">ver receta</button>
</div>

<div>
    <hr />
    <h3>Tabla Chachas</h3>
    <button style="margin: 50px; padding: 10px" type="button" class="btn" (click)="openPopup()">Merma
    </button>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Merma</h4>
                </div>
                <div class="modal-body">
                    <p>Producto Seleccionado</p>
                    <input type="text" placeholder="Ingrese Cantidad">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" (click)="closePopup()">
                    Ok
                </button>
                    <button type="button" class="btn2" (click)="closePopup()">
                    Cancelar
                </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <hr />
    <button style="margin: 50px; padding: 10px" type="button" class="btn">realizar peticion</button>
    <button style="margin: 50px; padding: 10px" type="button" class="btn">realizar transaccion</button>
</div>