
<!-- <h2>Detalle de compra</h2> -->
<!-- <button type="button" class="btn btn-info">Catalogo</button>-->

<div class="details-container">
    <div class="details-heading"><h1>Detalle compra</h1></div>
    <ul class="list-group">
        <li *ngFor="let comp of productComponents" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="wrapper">
                <div class="sale-details">
                    <div class="image-parent">
                        <img [src]="comp.product.Image" class="chachas-image">
                        {{comp.product.Name}}
                        <span class="badge badge-info badge-pill">Cantidad: {{comp.product.Quantity}}</span>
                    </div>
                    <ng-container *ngIf="comp.edit; else notEditing">
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" placeholder="Cantidad" #quantityInput class="quantity-input">
                            <button class="btn btn-info btn-sm" (click)="acceptEditOfProductQuantity(comp, quantityInput.value)">Aceptar</button>
                        </div>
                    </ng-container>
        
                    <ng-template #notEditing>
                        <button class="btn btn-info btn-sm" (click)="editProductQuantity(comp)">Editar cantidad</button>
                        <button class="btn btn-info btn-sm" (click)="deleteProductFromList(comp)">Eliminar</button>
                    </ng-template>
                </div>
                <div class="product-info">
                    <ul class="list-unstyled">
                        <li>
                            <span class="badge badge-info badge-pill">
                                Bs por unidad: {{comp.product.Price}}

                            </span>
                            <span class="badge badge-info badge-pill">
                                Precio total: {{comp.totalPrice}}
                            </span>
                        </li>
                        <li>{{comp.product.Description}}</li>
                    </ul>
                </div>
            </div>
        </li>
        <div class="forwards-backwards-choice">
            <button class="btn btn-info btn-sm" (click)="keepChoosing()" routerLink="../catalog">Seguir escogiendo</button>
            <ng-container *ngIf="productsQuantity > 0">
                <button class="btn btn-info btn-sm" (click)="acceptProductChoice()" routerLink={{nextStep}}>Aceptar</button>
            </ng-container>

        </div>
    </ul>
</div>