<div class="elegirSucursal">
    <h1> Filtrar:</h1>
    <select id="" class="options" aria-label="Default select example" [(ngModel)]="selectedValueFilter">
    <option selected>None</option>
    <option >Administrador</option>
    <option *ngFor="let sucursal of infoSub;" >
        {{sucursal.Nombre}}   
    </option>

    
    
    

</select>
    <button class="btn_filter m-3" (click)="filter()"> Filtrar</button>
</div>
<div class="sucuralesSection">
    <div class="getSucursal">
        <h1>Lista de empleados</h1>
        <app-reusable-table [datos]="infoEmployee" [columnas]="columnsEmployee" colorLetra="black" [nombreBotones]="employeeButtons" (parentMethod)="functionChooseObj($event)">
        </app-reusable-table>
    </div>
</div>

<div><button class="btn" (click)="modalService.abrir('modalEmpleado-01');">Agregar Empleado</button></div>

<jw-modal id="modalEmpleado-01" altura="100" ancho="50">
    <div class="modal-header">
        <h4 class="modal-title">Registrar Empleado</h4>
    </div>
    <div class="modal-body">

        <p>Nombre</p>
        <input type="text" id="nomEmpleado" placeholder="Ingrese el nombre del empleado">

        <p>Apellido Paterno</p>
        <input type="text" id="apellidoPEmpleado" placeholder="Ingrese el apellido paterno">

        <p>Apellido Materno</p>
        <input type="text" id="apellidoMEmpleado" placeholder="Ingrese el apellido materno">

        <p>CI</p>
        <input type="text" id="ciEmpleado" placeholder="Ingrese el carnet del empleado">

        <p>Cargo</p>
        <input type="text" id="cargoEmpleado" placeholder="Ingrese el el cargo del empleado">

        <p>Tipo de Empleado</p>
        <div>
            <label> <input id="admin" type="radio" value="admin" name="gender" (change)="changeGender($event)" /> Admin </label>
            <label> <input id="sucursal" type="radio" value="sucursal" name="gender" (change)="changeGender($event)" /> Sucursal </label>

        </div>


        <!--  <option selected>None</option> -->
        <div class="elegirSucursal" *ngIf="isShownES">
            <p>Sucursal</p>
            <select id="" class="options" aria-label="Default select example" [(ngModel)]="selectedValue">
            <option selected>None</option>
            <option *ngFor="let sucursal of infoSub;" >{{sucursal.Nombre}}</option>
            
            

        </select>
        </div>

        <!-- 
        <div *ngIf="isShownSH" class="sucursalHidden">
            <p>Direccion sucursal</p>
            <input type="text" id="dirSucursal" placeholder="Ingrese la direccion de la sucursal">
        </div> -->

    </div>
    <div class="modal-footer">

        <div class="botones">
            <button class="btn" (click)="modalService.cerrar('modalEmpleado-01');sendEmployee();">Registrar</button>
        </div>
        <div class="botones">
            <button class="btnCerrar" (click)="modalService.cerrar('modalEmpleado-01');">Cancelar</button>
        </div>
    </div>

</jw-modal>

<jw-modal id="modalEmpleado-02" altura="100" ancho="50">
    <div class="modal-header">
        <h4 class="modal-title">Actualizar Empleado</h4>
    </div>
    <div class="modal-body">

        <p>Nombre</p>
        <input type="text" id="nomEmpleadoU" [(ngModel)]="this.selectedObject.Nombre" enabled>

        <p>Apellido Paterno</p>
        <input type="text" id="apellidoPEmpleadoU" [(ngModel)]="this.selectedObject.ApellidoP" enabled>

        <p>Apellido Materno</p>
        <input type="text" id="apellidoMEmpleadoU" [(ngModel)]="this.selectedObject.ApellidoM" enabled>

        <p>CI</p>
        <input type="text" id="ciEmpleadoU" [(ngModel)]="this.selectedObject.id" enabled>

        <p>Cargo</p>
        <input type="text" id="cargoEmpleadoU" [(ngModel)]="this.selectedObject.Cargo" enabled>

        <p>Tipo de Empleado</p>
        <div>
            <label> <input id="admin" type="radio" value="admin" name="gender" (change)="changeGender($event)" /> Admin </label>
            <label> <input id="sucursal" type="radio" value="sucursal" name="gender" (change)="changeGender($event)" /> Sucursal/Fabrica </label>

        </div>


        <!--  <option selected>None</option> -->
        <div class="elegirSucursal" *ngIf="isShownES">
            <p>Sucursal</p>
            <select id="" class="options" aria-label="Default select example" [(ngModel)]="selectedValue">
            <option selected>None</option>
            <option *ngFor="let sucursal of infoSub;" >{{sucursal.Nombre}}</option>
        </select>
        </div>

        <!-- 
        <div *ngIf="isShownSH" class="sucursalHidden">
            <p>Direccion sucursal</p>
            <input type="text" id="dirSucursal" placeholder="Ingrese la direccion de la sucursal">
        </div> -->

    </div>
    <div class="modal-footer">

        <div class="botones">
            <button class="btn" (click)="modalService.cerrar('modalEmpleado-02');sendupdateEmployee();">Guardar</button>
        </div>
        <div class="botones">
            <button class="btnCerrar" (click)="modalService.cerrar('modalEmpleado-02');">Cancelar</button>
        </div>
    </div>

</jw-modal>


<jw-modal id="modalEmpleado-03" altura="30" ancho="20">
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Empleado</h4>
    </div>
    <div class="modal-body">
        <p>Esta seguro que quiere eliminar al empleado?</p>

    </div>
    <div class="modal-footer">

        <div class="botones">
            <button class="btn" (click)="modalService.cerrar('modalEmpleado-03');eliminarEmployee();">Confirmar</button>
        </div>
        <div class="botones">
            <button class="btnCerrar" (click)="modalService.cerrar('modalEmpleado-03');">Cancelar</button>
        </div>
    </div>

</jw-modal>