<table class="tabla">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Costo</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tipo de Unidad</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr 
      *ngFor="let ingredientesEle of purchaseService.elementos; let i = index">

        <td>{{ingredientesEle.Nombre}}</td>
        <td><input class="quantity" id="cost" min="0" name="Costo{{i}}" (ngModelChange)="calcularActualizacion()" type="number" (click)="calcularActualizacion()" [(ngModel)]="purchaseService.elementos[i].Costo"></td>
        <td><input class="quantity" id="amount" min="1" name="cantidad{{i}}" (ngModelChange)="calcularActualizacion()" type="number" (click)="calcularActualizacion()" [(ngModel)]="purchaseService.elementos[i].Cantidad"></td>
        <td>{{ingredientesEle.TipoUnidad}}</td>
  
  
        <button (click)="eliminarPedido(i)" >-</button>
        
    </tr>
  
    </tbody> 
  </table>
  
  <table class="total">
    <tbody>
      <tr>
        <td>Total Articulos:</td>
        <td style="text-align: 10px;">{{catidadIngredientes}}</td>
        <td>Total :</td>
        <td style="text-align: right;">{{totalCompra | number: '1.0-2'}} Bs.</td>
      </tr>
    </tbody>
  </table>
