<mat-nav-list class="upper">
    <div class="logo py-4">
        <img src="../../assets/imagenes/logo.png" alt="company logo" width="200" height="150">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active" class="upper">
        <mat-icon>home</mat-icon> Home
    </a>

    <a mat-list-item [routerLink]="['/m-subsidiary/inventary']" routerLinkActive="list-item-active" class="upper">
        <mat-icon>store</mat-icon> Inventario
    </a>

    <a mat-list-item [routerLink]="['/m-subsidiary/sales']" routerLinkActive="list-item-active" class="upper">
        <mat-icon>add_shopping_cart</mat-icon> Ventas</a>


</mat-nav-list>