<div class="elegirSucursal">
    <p>Sucusal</p>
    <select id="" class="options" aria-label="Default select example" [(ngModel)]="selectedValue">
        <option selected>None</option>
        <option *ngFor="let sucursal of infoSub;" >{{sucursal.Nombre}}</option>
        
        

    </select>
</div>

<div class="arqueoSection">
    <div class="getSection">
        <h1>Tabla de Arqueos</h1>
        <app-reusable-table [datos]="infoArqueo" [columnas]="columnsArqueo" colorLetra="black">
        </app-reusable-table>
    </div>
</div>