.options {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-family: 'roboto', sans-serif;
    background: #fff;
    color: #383838;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn_filter {
    width: 50px;
    height: 40px;
    text-transform: capitalize;
    text-align: center;
    color: white;
    background: #969226;
    /*
    #CCC734;
    #E6CA29
    #DCC865*/
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}