<table class="tabla">
    <thead>
      <tr>
        <th scope="col">Ingrediente</th>
        <th scope="col">Tipo Unidad</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr 
      *ngFor="let ingredientesEle of hacerCompraServicio.ingredientes; let i = index">

        <td>{{ingredientesEle.Nombre}}</td>
        <td>{{ingredientesEle.TipoUnidad}}</td>
        <td><input class="quantity" id="amount" min="1" name="cantidad" value={{ingredientesEle.Cantidad}} type="number" (click)="cambioCantidad(i)" #amountInput></td>
        <td>{{ingredientesEle.Costo}}</td>
  
  
        <button (click)="eliminarPedido(i)" >-</button>
        
    </tr>
  
    </tbody> 
  </table>
  
  <table class="total">
    <tbody>
      <tr>
        <td>Total Articulos:</td>
        <td style="text-align: 10px;">{{catidadIngredientes}}</td>
        <td>Total :</td>
        <td style="text-align: right;">{{totalCompra}} Bs.</td>
      </tr>
    </tbody>
  </table>