.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f7f7f7;
}

.li {
    list-style: none;
}

.button {
    border: 0;
    outline: none;
    background: transparent;
}

.user {
    font-size: 14px;
}

.user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-image-icon {
    height: 18px;
    font-size: 16px;
}

.mat-menu-content {
    width: 160px;
}

.user {
    width: 200px;
    height: 50px;
    padding: 10px 30px;
    text-transform: capitalize;
    color: #fff;
    background: #969226;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}

.logout {
    width: 200px;
    height: 50px;
    padding: 10px 30px;
    text-transform: capitalize;
    color: #fff;
    background: #969226;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}