
    button{
        margin: 5px;
        width: 250px;
        height: 50px;
        font-size: 22px;
        background-color: rgb(218, 75, 32);
        border: 0px;
        border-radius: 10px;
    }
    
