/* footer {
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #fff;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo {
    height: 75px;
}

.footer-ul-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title {
    grid-column: span 2;
    text-transform: capitalize;
    color: #383838;
    font-size: 20px;
    margin-bottom: 20px;
}

.category .footer-link {
    text-decoration: none;
    text-transform: capitalize;
    color: #A9A9A9;
}

.footer-link:hover {
    color: #484848;
}

.footer-title,
.info {
    color: #A9A9A9;
    margin: 20px 0;
    text-transform: capitalize;
}

.footer-title {
    margin-top: 80px;
    color: #383838;
}

.footer-social-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-links {
    color: #383838;
    margin-left: 20px;
    text-transform: capitalize;
}

.social-links:nth-child(1) {
    margin-left: 0;
}

.footer-credit {
    width: 100%;
    padding: 10px;
    position: absolute;
    text-transform: capitalize;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #484848;
    background: rgba(0, 0, 0, 0.2);
} */